# 查询日期
query_date: 2018-01-11
# 起始站
start_station: 北京
# 目的地
end_station: 成都
# 车次
train_code: G89,G307
# 座位
ticket_type: 一等座,二等座
# 日志类型，支持 ServerChan 和 print
logType: ServerChan

# Server 酱配置参考地址：http://sc.ftqq.com/?c=code
ServerChan:
    type: pushbear #pushbear 为一对多推送，api 见https://pushbear.ftqq.com/admin/#/api
    scket: ***********
    title: 12306有票啦
    content: 有票列车：{}
